:root{
    box-sizing: border-box;
}
*,
::after,
::before{
    box-sizing: inherit;
}
body{
    background-color: #eeeeee;
    font-family: Arial, Helvetica, sans-serif;
}
body * + * {

    margin-top: 1.5em;
}

header{
    padding: 1em 1.5em;
    color: #fff;
    background-color: rgb(0, 114, 176);
    border-radius: .5em;
}

main{
    display: block;
}
 
.container
{
    display:  flex;
}

.main{
    padding: 1em 1.5em;
    width: 70%;
    background-color: #fff;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(bg.jpg); 
    border-radius: .5em;
}
.sidebar{
  
    width: 30%;
    padding: 1.5em;
    margin-top: 0;
    margin-left: 1.5em;
    background-color: #fff;   
    border-radius: .5em;
}
.button-link{
    display: block;
    padding: 0.5em;
    color: #fff;
    background-color: #0090c9;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}
.button-link + .button-link{
    margin-top: 1.5em;
}
.Sponsor-link{
    display: block;
    color: #0072b0;
    font-weight: bold;
    text-decoration: none;
}


